# Build
target/

# Segredos / ambiente
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# files
instrucoes-e-roadmap-do-projeto-mercury-shop.md
Mercury-Shop-Documentacao.pdf
Mercury-Shop-Arquitetura-Hexagonal.pdf

# claude
.claude